@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Space+Mono&family=Titillium+Web&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  @apply bg-primary-800;
}

.tags {
  @apply text-primary-100 px-4 rounded-lg font-monospace bg-gradient-to-r from-pink-500 via-red-500 to-orange-500 cursor-pointer;
}
.tags:hover {
  animation: wave 750ms ease-in-out infinite;
}

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-orange-500 bg-clip-text;
}
.gradient {
  @apply bg-gradient-to-r from-pink-500 via-red-500 to-orange-500;
}
.gradient:hover {
  animation: wave 750ms ease-in-out infinite;
}

@keyframes wave {
  0% {
    @apply from-orange-400 via-pink-500 to-red-500;
  }
  50% {
    @apply from-red-500 via-orange-400 to-pink-500;
  }
  100% {
    @apply from-pink-500 via-red-500 to-orange-500;
  }
}

.nav-item {
  position: relative;
}
.nav-item::after {
  content: "";
  position: absolute;
  inset: 96% 0 0 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
  @apply bg-gradient-to-r from-pink-500 via-red-500
    to-orange-500;
}
.nav-item:hover::after {
  transform: scaleX(1);
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
